<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>

        <ion-item>
          <ion-label stacked>Nome</ion-label>
          <ion-input type="text" value="" [(ngModel)]="beer.nome"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label stacked>Tagline</ion-label>
          <ion-input type="text" value="" [(ngModel)]="beer.tagline"></ion-input>
        </ion-item>

        <ion-item>
            <ion-textarea placeholder="Enter a description" [(ngModel)]="beer.descricao"></ion-textarea>
        </ion-item>

        <p>
          <button color="danger" ion-button full (click)="openCamera()">
            <ion-icon name="camera"></ion-icon>
            Tirar Foto da Cerveja
          </button>
          <img src="{{beer.img}}" alt="Foto da Cerveja" *ngIf="beer.img" width="100%" height="150px" />
        </p>

        <button ion-button full (click)="saveBeer(beer)">Salvar</button>
      </ion-list>

</ion-content>
