<ion-header>

  <ion-navbar>
    <ion-title>Detalhe - {{ beer.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <img src="{{ beer.image_url }}" height="170px"/>
    <ion-card-content>
      <ion-card-title>
        {{beer.tagline}}
      </ion-card-title>

      <p>
        {{beer.description}}
      </p>

    </ion-card-content>
  </ion-card>

</ion-content>
